.tweet {
  display: flex;
  flex-direction: column;
  padding: 2.5%;
  border: solid;
}


article.tweet p {
  padding: 10px;
}

article.tweet header #handle {
  color: rgba(194, 190, 190, 0.555);
}

#left-tweet-header {
  display: flex;
  align-items: center;
}

article.tweet header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article.tweet header img {
  height: 50px;;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-top: solid;
}

.tweet:hover {
  box-shadow: 10px 5px rgba(172, 166, 166, 0.527);
}

article.tweet .fa-solid:hover {
  color: rgba(255, 208, 0, 0.719)

}